services:
  ## RabbitMQ with Delayed Message Plugin
  rabbitmq:
    build: 
      context: ./rabbitmq/
      dockerfile: Dockerfile
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"   # RabbitMQ message broker
      - "15672:15672" # RabbitMQ management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  ## SEQ Logging Server
  seq:
    image: datalust/seq
    container_name: seq
    ports:
      - 5342:80
      - 5341:5341
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=admin123

  ## Worker Service (MassTransit Consumer)
  masstransit-delayed-redelivery-test:
    build:
        context: ./MassTransitDelayedRedeliveryTest/
        dockerfile: Dockerfile
    container_name: masstransit-delayed-redelivery-test
    depends_on:
      - rabbitmq
      - seq
    environment:
      - SEQ_URL=http://seq:5341
      - RABBITMQ_HOST=rabbitmq
      - DB_ACTIVE=false  # Can be changed at runtime
    volumes:
      - ~/.nuget/packages:/root/.nuget/packages:ro  # Mounts local NuGet cache
    restart: unless-stopped

volumes:
  rabbitmq_data:
